.menu-bar__container{
  display: flex;
  background-color: white;
  gap: 1rem;
  justify-content: space-around;
  padding: 1rem;


}
.menu-bar__img{
  width: 12%;

}
.img{
  display: block;
  max-width: 100%;
  object-fit: contain;
}


.menu-bar__nav{
  display: flex;
  align-items: end;
  gap: 1rem;
  text-transform: uppercase;
  list-style: none;



}

.link{
  text-decoration: none;
  color: black;
}

.link:hover{
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: lightblue;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
